body {
    background-color: peachpuff;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main-body-wrapper {
    margin-left: 1%;
}

#navbar {
    text-align: end;
    padding-top: 25px;
    padding-right: 50px;
    background-color: linen;
    height: 25px;
}

#navbar a {
    text-decoration: none;
    margin-right: 1%;
    font-size: 20px;
}

img#main_logo {
    height: 50px;
    position: absolute;
    display: block;
}
