{% load static %}
<div id="navbar">
    {% if user.is_superuser %}
        <a href="http://127.0.0.1:8000/admin/">admin</a>
    {% endif %}
    <a href="{% url 'products-all' %}">Products</a>
    <a href="{% url 'contacts-main' %}">Contact Us</a>
    {% if user.is_authenticated %}
        <a href="{% url 'profiles-detail' user.id %}">
            <img src="{% static 'img/profile_logo.png' %}" style="width: 25px;" alt="profile_logo">
        </a>
    {% else %}
        <a href="{% url 'auth-login' %}">Login</a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'cart-main' %}">
            <img src="{% static 'img/cart.png' %}" style="width: 25px;" alt="cart">
        </a>
    {% endif %}
</div>